<?xml version="1.0" ?>
<config>
    <modules>
        <Sk_Insurance>
            <version>1.0.0</version>
        </Sk_Insurance>
    </modules>
    <global>
        <models>
            <skinsurance>
                <class>Sk_Insurance_Model</class>
            </skinsurance>
        </models>
        <resources>
            <skinsurance_setup>
                <setup>
                    <module>Sk_Insurance</module>
                </setup>
            </skinsurance_setup>
        </resources>
        <blocks>
            <skinsurance>
                <class>Sk_Insurance_Block</class>
            </skinsurance>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Sk_Insurance_Block_Adminhtml_Sales_Order</sales_order_totals>
                    <sales_order_invoice_totals>Sk_Insurance_Block_Adminhtml_Sales_Invoice</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Sk_Insurance_Block_Adminhtml_Sales_Creditmemo</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Sk_Insurance_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <skinsurance>
                <class>Sk_Insurance_Helper</class>
            </skinsurance>
        </helpers>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <add_insurance_to_save_shipping_method>
                        <class>Sk_Insurance_Model_Observer_InsuranceObserver</class>
                        <method>add_insurance_to_save_shipping_method</method>
                        <type>model</type>
                    </add_insurance_to_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <sales>
            <quote>
                <totals>
                    <skinsurance>
                        <class>Sk_Insurance_Model_Quote_AddressTotal</class>
                        <after>subtotal</after>
                    </skinsurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <skinsurance>
                        <class>Sk_Insurance_Model_Order_InvoiceTotal</class>
                        <after>subtotal</after>
                    </skinsurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <skinsurance>
                        <class>Sk_Insurance_Model_Order_CreditmemoTotal</class>
                        <after>subtotal</after>
                    </skinsurance>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <insurance_amount>
                    <to_order>*</to_order>
                    <to_invoice>*</to_invoice>
                </insurance_amount>
                <base_insurance_amount>
                    <to_order>*</to_order>
                    <to_invoice>*</to_invoice>
                </base_insurance_amount>
            </sales_convert_quote_address>
        </fieldsets>
     </global>
    <frontend>
        <layout>
            <updates>
                <skinsurance>
                    <file>insurance.xml</file>
                </skinsurance>
            </updates>
        </layout>
    </frontend>
</config>